<div class=background>
<h1>List of Playdates</h1>
<h2>Create a new playdate</h2>

        <% @playdates.each do |a| %>
            <%= a.playdate%> <%= link_to a.title, playdate_path(a) %> 
                <%= link_to "Edit Playdate", edit_playdate_path(a)%>
                <br>
                <% end %>
<h4>
    <button type="button" class="btn btn-secondary">
        <%= link_to "Start a playdate", new_playdate_path %> 
        </h4>
            </button>
    </div>
    
    

